In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [2]:
# Import dataset
df = pd.read_csv('/content/drive/MyDrive/ML Zoomcamp/dataset/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [3]:
# Question 1: Pandas version
print("Solution to Question 1: ")
pd.__version__

Solution to Question 1:

'2.2.2'

In [4]:
# Question 2: Records count
print("Solution to Question 2: ")
df.shape[0]

Solution to Question 2:

9704

In [5]:
# Question 3. Fuel types
# How many fuel types are presented in the dataset?
print("Solution to Question 3: ")
df.fuel_type.value_counts()

Solution to Question 3:

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [6]:
# Question 4. Missing values
# How many columns in the dataset have missing values?
print("Solution to Question 4: ")
df.isna().sum()

Solution to Question 4:

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [14]:
# Question 5. Max fuel efficiency of cars from asia
# What's the maximum fuel efficiency of cars from Asia?

print("Solution to Question 5: ")
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

Solution to Question 5:

23.759122836520497

In [15]:
# Question 6. Median value of horsepower
# Find the median value of horsepower column in the dataset.
print("Solution to Question 6: ")
print(df.horsepower.median())

# Next, calculate the most frequent value of the same horsepower column.
print(df.horsepower.mode())

# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df.horsepower = df.horsepower.fillna(df.horsepower.mode())

# Now, calculate the median value of horsepower once again.
print(df.horsepower.median())

Solution to Question 6:
149.0
0    152.0
Name: horsepower, dtype: float64
149.0

In [18]:
# Question 7. Sum of weights
# Select all the cars from Asia
print("Solution to Question 7: ")
asia_cars = df[df.origin == 'Asia']

# Select only columns vehicle_weight and model_year
# Select the first 7 values

asia_cars_subset = asia_cars[['vehicle_weight', 'model_year']].head(7)

# Get the underlying NumPy array. Let's call it X.
X = asia_cars_subset.to_numpy()

# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = np.dot(X.T, X)

# Invert XTX.
XTX_inv = np.linalg.inv(XTX)

# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = np.dot(np.dot(XTX_inv, X.T), y)

# What's the sum of all the elements of the result?
print(w.sum())

Solution to Question 7:
0.5187709081074016